body{
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

nav {
    background-color: #505050;
    color: #ffffff;
    text-align: center;
    list-style: none;
    overflow: hidden;
    padding: 20px 0 20px 0;
}

nav a {
    color: #ffffff;
    text-decoration: none;
    padding: 20px;
    font-family: Arial, Helvetica, sans-serif;
    align: center;
    font-size: 17px;
}

nav a:hover {
    color: #b7b7b7;
    background-color: whitesmoke;
}

/* nav a:active {
    color: #b7b7b7;
} */

article1 {
    text-align: center;
    font-size: 180%;
    padding: 5%;
    margin: 5%;
}

ul{
    background:#000;
    width:125px;
    float: right;
    list-style: none;
    padding: 0;
    margin: 0;
    border-left:8px solid #505050;
}
 
ul li{
    height:75px;
}
 
ul li a img{
    opacity:0.65;
}
 
ul li a:hover img{
    opacity:1.0;
}

#images{
    width:500px; 
    height:300px; 
    overflow:hidden;
    float:left;
}
 
#wrapper{
    width:633px;
    height:300px;
    margin:0px auto;
    border: 3px solid #505050;
}

h1{
    font-family: Arial, Helvetica, sans-serif;
    color: black;
}

h4 {
    font-family: Arial, Helvetica, sans-serif;
    color: #515151;
    font-size: 18px;
    margin: 3%;
}

iframe {
    display: block;
    box-align: center;
    margin: 3% auto;
}

/* #log_in:hover{
    color: #b7b7b7;
    background-color:whitesmoke;
}

#login {
    color: white;
    margin-right: 10%;
} */

.container {
    width: 450px;
    height: 330px;
    /* border: 1px solid rgb(0, 217, 255); */
    margin: 7% auto;
    border-radius: 15px;
    align: center;    
}

input[type="text"], input[type="password"]{
    width: 380px;
    text-align: center;
    height: 50px;
    font-size: 18px;
    margin-top: 7%;
    align: middle;
    border-radius: 7px;
    border: 1px solid rgb(65, 157, 229);
}

input[type="submit"] {
    padding-bottom: 3%; 
    font-size: 15px;
    cursor: pointer;
    padding: 13px 30px;
    margin: 20px 0 20px 0;
    border-radius: 10px;
    border: none;
    background-color: rgb(65, 157, 229);
    width: 320px;
}

input[type="submit"]:hover {
    background-color: rgb(61, 139, 199);
} 